@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: white;
}

.bg {
  background-color: #016241;
}
nav > img {
  width: 68px;
  height: 68px;
}

.navbar {
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}

#hero {
  width: 100%;
  height: 680px;
  margin-top: 88px;
}
.hero-img img {
  width: 100%;
  height: 680px;
  filter: brightness(20%);
}
.text {
  position: absolute;
  margin: auto;
  top: 40%;
  left: 15%;
  right: 15%;
  color: white;
  text-align: center;
}
.h1-hero {
  font-size: 64px;
  font-weight: 800;
}
p {
  font-size: 28px;
  font-weight: 300;
  padding-top: 24px;
}
button {
  padding: 12px 24px;
  margin-top: 80px;
  background-color: #558929;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  transition: 0.5s ease;
  border: 1px solid white;
}

.testimonial-desc {
  align-items: center;
  text-align: center;
  width: 100%;
  height: 200px;
  padding: 60px;
}
h2 {
  font-size: 48px;
  font-weight: 700px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  width: 400px;
  height: 240px;
  border-radius: 4px;
  background-color: #1e3932;
  transition: 0.5s;
  margin-right: 24px;
  margin-bottom: 20px;
  padding: 28px;
  cursor: pointer;
}
.ri-user-5-line,
.ri-team-line,
.ri-group-2-line {
  color: white;
  font-size: 80px;
}
.card-title {
  color: white;
  margin-top: 12px;
}
h4 {
  color: white;
  font-size: 21px;
  font-weight: 400;
  padding-top: 4px;
}
.title {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
}
.title button {
  cursor: pointer;
  margin-top: 20px;
  color: #2295ff;
  text-align: right;
  padding-right: 0px;
  background-color: white;
}
.quote {
  width: 100%;
  background-color: #1e3932;
  min-height: 80px;
  margin-top: 64px;
}
.quote-text {
  font-size: 21px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 20px;
}
#forum-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.forum-box {
  width: 404px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 20px;
}
.forum-box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s ease;
}
.forum-img img {
  width: 402px;
  height: 302px;
  object-fit: cover;
  object-position: center;
}
.forum-desc {
  margin: 16px;
}
.forum-title {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-bottom: 4px;
}
.text-box {
  font-size: 16px;
  font-weight: 300;
  color: black;
  margin-top: 12px;
}
.forum-box button {
  cursor: pointer;
  background-color: white;
  color: #2295ff;
  text-align: right;
  margin-top: -80px;
  padding: 0;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-text {
  margin-left: 72px;
  width: 60%;
}
.about-text button {
  margin-top: 40px;
}
.about-img img {
  width: 75%;
  margin-right: 72px;
  float: right;
}
#contact {
  width: 100%;
  min-height: 740px;
  background: url(https://asean.org/wp-content/uploads/2021/03/23.jpeg)
    no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.contact-box {
  background-color: white;
  border-radius: 12px;
  width: 70%;
  padding: 24px;
  height: 620px;
}
.contact-box h2 {
  padding-bottom: 32px;
  text-align: center;
}
#my-form input {
  width: 90%;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 24px;
  margin-left: 40px;
  margin-right: 40px;
}
textarea {
  min-height: 80px;
  width: 90%;
  border: 1px solid gray;
  border-radius: 4px;
  outline: none;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 24px;
  margin-left: 40px;
  margin-right: 40px;
}
.contact-box button {
  float: right;
  margin-top: 4px;
  margin-right: 60px;
}
#check {
  margin-left: 40px;
}
footer {
  background-color: #016241;
}
.footer-container {
  padding: 40px 72px;
  justify-content: center;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer ul {
  list-style: none;
  text-decoration: none;
}
.footer-column1 {
  width: 25%;
  padding-right: 40px;
  float: left;
}
.footer-column2 {
  width: 25%;
  text-align: right;
}
.footer-row h4 {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 12px;
}
.footer-column1 img {
  width: 88px;
}
footer a {
  text-decoration: none;
  color: white;
  line-height: 2;
}
.footer-social {
  margin-top: 12px;
}
.footer-social i {
  color: white;
  font-size: 32px;
  padding-right: 8px;
}
.copyright {
  align-items: center;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}
.footer-column1 h5 {
  color: white;
  font-weight: 400;
  padding-bottom: 8px;
}

@media (max-width: 768px) {
  .ul-bg {
    background-color: #19a519;
  }
  nav > img {
    width: 15%;
    height: 15%;
  }
}
