@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

.bg {
  background-color: #016241;
}
nav > img {
  width: 68px;
  height: 68px;
}

.navbar {
  padding: 0;
}
.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #dff9ba;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.hero-background {
  height: 50vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
      no-repeat center center fixed;
  display: table;
  background-size: cover;
  position: relative;
  background-color: #016241;
}

.hero-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hero-header-main-title h1 {
  font-size: 3.5rem;
}
.hero-header-main-title p {
  font-size: 1.2rem;
}

.card-title {
  font-size: 16px;
  color: aliceblue;
}

.testimonial-card h4 {
  font-size: 14px;
}

.card-bg {
  background: #1f3832;
}
.quote {
  font-size: 1rem;
}
.see-more-button {
  text-decoration: none;
  font-size: 20px;
}

.list-card-forum {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto, minmax(8rem, 1fr));
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
footer {
  background-color: #016241;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-container {
  max-height: 30vh;
}

.area-fill-image {
  width: 100%;
  height: 100%;
}

#main-header,
#forum-container,
#about,
#contact {
  width: 100%;
  min-height: 100vh;
}

#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
      no-repeat center center fixed;
  display: table;
  background-size: cover;
  position: relative;
  background-color: #016241;
}

@media (max-width: 768px) {
  .ul-bg {
    background-color: #0a865d;
  }
  nav > img {
    width: 15%;
    height: 15%;
  }
}
